<!DOCTYPE html>
<html>
<head>
    <title>Merchant Payment</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script src="/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1PiO2m81"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center">Payment</h1>
                </div>
                <div class="card-body">
                    <form id="my-form" th:action="@{/api/v1/payment/external/process}" th:object="${request}"
                          method="post">
                        <div class="form-text">
                            <label>Merchant: <span th:text="${request.merchantName}"></span></label>
                            <label>Bill/Invoice No: <span th:text="${request.billOrInvoiceNo}"></span></label>
                            <label>Amount: <span th:text="${request.amount}"></span></label>
                        </div>

                        <div class="form-group">
                            <label for="wallet">Wallet No</label>
                            <input type="text" id="wallet" name="wallet" class="form-control"
                                   th:field="*{customerWalletNo}" required/>
                            <span class="error" id="wallet-error"></span>
                        </div>

                        <div class="form-group">
                            <label for="pin">Pin</label>
                            <input type="password" id="pin" name="pin" class="form-control" th:field="*{customerPin}"
                                   required/>
                            <span class="error" id="pin-error"></span>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
